@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&family=Poppins:wght@500;600&display=swap');


h1
{
    color: teal;
    font-size: 70px;
    font-family: 'Poppins';
    text-align: center;
    margin: 50px;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    border-top: 0.5px solid teal;
}
@media screen and (max-width: 550px) {
    .flex-container {
        justify-content: center;
        border-top: 0.5px solid white;
        margin-top: 50px;
    }
    body{
        background-color: teal
    }
    h1{
        font-size: 30px;
        color: white;
        margin: 25px;
    }
  }
a
{
    text-decoration: none;
    margin: 20px;
}
#portfolio
{
    padding: 10px;
    transform: scale(1);
    transition: all 0.4s;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 12px;
    background-color: white;
}
#portfolio:hover
{
    transition: all 0.4s;
    transform: scale(1.2);
    box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.2);
}
#portfolio p
{
    color:teal;
    font-family: 'Poppins';
    margin-top: 40px;
}
#portfolio:hover p
{
    color: green;
    font-weight: bold;
}

/*Toggle switch*/

